<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLCTECH</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/image/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/image/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/image/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body style="background-color: #eaeaea;">
    <header>
        <img src="/image/logoximang.png" alt="" class="logoximang">
        <h1 class="title-header">Hệ Thống Quan Trắc Khí Thải Tự Động, Liên Tục</h1>
        <img src="/image/logo-home.svg" alt="" class="logo-home">
        <h1 class="home-heading">Home</h1>

    </header>
    <main>
        <img src="/image/logoplctech.png" class="logoplc">
    </main>
    <nav>
        <div class="nav-home">
            <button class="nav-btt-home">
                <img src="/image/logo-home.svg" class="nav-logo-home">
                <h1 class="nav-home-heading">Home</h1>
            </button>
        </div>

        <div class="nav-alarm">
            <button class="nav-btt-alarm">
                <img src="/image/logo-alarm.svg" class="nav-logo-alarm">
                <h1 class="nav-alarm-heading">Alarm</h1>
            </button>
        </div>

        <div class="nav-dashboard">
            <button class="nav-btt-dashboard">
                <img src="/image/logo-dashboard.svg" class="nav-logo-dashboard">
                <h1 class="nav-dashboard-heading">Dashboards</h1>
            </button>
        </div>
    </nav>


    <div class="q03">
        <input class="inputq03" type="checkbox" name="" id="check-box" hidden>
        <label class="labelq03" for="check-box">
            <p class="off">OFF</p>
            <p class="on">ON</p>
        </label>
        <p class="p03">Q0.3</p>
    </div>



    <script src="/js/control.js"></script>
</body>

</html>