<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLCTECH</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/image/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/image/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/image/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/image/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/image/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/image/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/image/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/image/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/image/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/image/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div class="loginframe">
        <img src="/image/logoplctech.png" />

        <!-- Input UserName -->
        <div class="loginframe__userframe">
            <img src="/image/logo-user.svg" />
            <input type="text" class="loginframe__userframe--login" placeholder=" " id="loginframe__userframe--login" />
            <label for="loginframe__userframe--login">Username</label>
        </div>

        <!-- Input PassWord -->
        <div class="loginframe__passwordframe">
            <img src="/image/logo-key-password.svg" />
            <input type="password" class="loginframe__passwordframe--password" placeholder=" "
                id="loginframe__passwordframe--password" />
            <label for="loginframe__passwordframe--password">Password</label>
        </div>

        <!-- Button Forget PassWord -->
        <div class="loginframe__forgetpassword">
            <button class="loginframe__forgetpassword--bttforget">Forget password?</button>
        </div>

        <!-- Button Login -->
        <div class="loginframe__login">
            <button class="loginframe__login--bttlogin" id="flogin">Login</button>
        </div>

    </div>
    <script src="/js/funLogin.js"></script>
</body>

</html>